In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

**Handling missing values**

In [5]:
from sklearn.impute import KNNImputer
features = ['Age','Fare','SibSp','Parch']
df_impute = df[features]

# Apply KNN Imputer
imputer = KNNImputer(n_neighbors=5)
df_imputed = imputer.fit_transform(df_impute)

# Replace Age with imputed values
df['Age'] = df_imputed[:, 0]

df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

C:\Users\yovan\AppData\Local\Temp\ipykernel_19612\3853763181.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

In [6]:
df['Age'] = np.floor(df['Age']).astype(int)

In [7]:
df['Sex'] = df['Sex'].map({'male':1,'female':0})


embarked = pd.get_dummies(df['Embarked'],drop_first=True,prefix='Embarked').astype(int)

pclass = pd.get_dummies(df['Pclass'],drop_first=True,prefix='Pclass').astype(int)

df = pd.concat([df,embarked,pclass],axis=1)


df.drop(columns=['Embarked','Pclass'],inplace=True)

In [ ]:
df.to_csv('df_cleaned.csv',index=False)